USE [YingXiongLianMeng]
GO
/****** Object:  Table [dbo].[Data_Hero]    Script Date: 06/13/2019 00:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Hero](
	[Id] [int] NOT NULL,
	[championId] [int] NULL,
	[championName] [nvarchar](50) NULL,
	[HeroId] [nvarchar](20) NULL,
	[title] [nvarchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Data_Hero] ([Id], [championId], [championName], [HeroId], [title]) VALUES (202, 202, N'戏命师', N'Jhin', NULL)
INSERT [dbo].[Data_Hero] ([Id], [championId], [championName], [HeroId], [title]) VALUES (7, 7, N'诡术妖姬', N'Leblanc', NULL)
INSERT [dbo].[Data_Hero] ([Id], [championId], [championName], [HeroId], [title]) VALUES (1, 1, N'黑暗之女', N'Annie', N'安妮')
