@{
    ViewData["Title"] = "我的英雄联盟战绩 ";
}

<link rel="stylesheet" href="~/lib/layui-v2.5.4/layui/css/layui.css" media="all">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

<form class="layui-form" action="">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">战绩Json</label>
        <div class="layui-input-block">
            示例：<a href="https://lol.sw.game.qq.com/lol/commact/?proj=api&c=Battle&a=combatGains&areaId=27&gameId=1529525938&r1=combatGains" target="_blank">https://lol.sw.game.qq.com/lol/commact/?proj=api&c=Battle&a=combatGains&areaId=27&gameId=1529525938&r1=combatGains</a>
        </div>
        <div class="layui-input-block">
            <textarea name="json" placeholder="请输入JSON内容" class="layui-textarea" id="textjson" style="height: 50px;min-height:50px"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<div style="padding: 10px; background-color: #F2F2F2;">
    <div class="demoTable">
        名称：
        <div class="layui-inline">
            <input class="layui-input" name="championName" id="championName" autocomplete="off">
        </div>
        <div class="layui-inline">
            选择框：
            <select class="layui-select" name="Win" id="Win" lay-verify="required">
                <option value="">All</option>
                <option value="Win">Win</option>
                <option value="Fail">Fail</option>
                <option value="LeaverFail">逃跑</option>
            </select>
        </div>
        <div class="layui-inline">
            日期范围(默认3个月)
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="createtimerange" placeholder=" - " style="width:200px">
            </div>
        </div>
        <button class="layui-btn" data-type="reload" id="serarBtn">搜索</button>
        <button class="layui-btn layui-btn-primary" id="resetSerch">重置</button>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="ranking"></div>
    </div>
</div>



<table class="layui-hide" id="test"></table>




<script src="~/lib/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<style>
    .layui-table-cell {
        height: 44px;
        line-height: 44px;
    }
</style>

<script>
    document.onkeydown = function (e) {
   
　　if (event.keyCode == "13") {
　　　　//回车执行查询
　　　　$('#serarBtn').click();
　　}
    };


    //当前时间
    function CurentTime()
    {
        var now = new Date();

        var year = now.getFullYear();       //年
        var month = now.getMonth() + 1;     //月
        var day = now.getDate();            //日

        var clock = year + "-";

        if(month < 10)
            clock += "0";

        clock += month + "-";

        if(day < 10)
            clock += "0";

        clock += day ;

        return(clock);
    }

    //前3个月时间
    function get3MonthBefor(){
        var resultDate,year,month,date,hms;
        var currDate = new Date();
        year = currDate.getFullYear();
        month = currDate.getMonth()+1;
        date = currDate.getDate();
        hms = currDate.getHours() + ':' + currDate.getMinutes() + ':' + (currDate.getSeconds() < 10 ? '0'+currDate.getSeconds() : currDate.getSeconds());
        switch(month)
        {
        case 1:
        case 2:
        case 3:
            month += 9;
            year--;
            break;
        default:
            month -= 3;
            break;
        }
        month = (month < 10) ? ('0' + month) : month;
        resultDate = year + '-'+month+'-'+date;
        return resultDate;
    }


    layui.use(['laydate','table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;

        //监听提交
        form.on('submit(formDemo)',
            function (data) {
                $.ajax({
                    url: "Home/AddBattleList",
                    //dataType: 'text',
                    contentType: "application/x-www-form-urlencoded",
                    data: data.field, //请求的附加参数，用json对象
                    method: 'POST',
                    success: function (res) {
                        console.log(res);
                        if (res > 0) {
                            layer.msg("新增成功！");
                            tableObj.reload(); //重载表格
                        } else if (res === 0) {
                            layer.msg("已经存在了~~~~~~！");
                        }

                    }
                });
                $('#textjson').val('');
                return false;
            });



        //日期范围
        laydate.render({
            elem: '#createtimerange'
            , range: true
            ,value: get3MonthBefor()+' - '+CurentTime()
        });

        var tableObj =   table.render({
            elem: '#test'
            , url: '/Home/BattleList'
//            , where: {"key[createtimerange]:get3MonthBefor()+' - '+CurentTime()}
            , width: 1200
            //             ,cellMinWidth: 120 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { field: 'id', width: 80, height: 64, title: 'ID', sort: true }
                , { field: 'kda', width: 70, title: 'KDA' ,templet: '#KDA'}
                , { field: 'championId', width: 60, title: '英雄id' }
                , { field: 'heroId', width: 110, title: 'en', templet: '#heroId' }
                , { field: 'championName', width: 90, title: '英雄名' }
                , { field: 'kills', width: 85, title: '杀',templet: '#kills' }
                , { field: 'item0Img', width: 66, title: '物品1', templet: '#titleTpl0' }
                , { field: 'item1Name', width: 66, title: '物品2', templet: '#titleTpl1' }
                , { field: 'item2Name', width: 66, title: '物品3', templet: '#titleTpl2' }
                , { field: 'item3Name', width: 66, title: '物品4', templet: '#titleTpl3' }
                , { field: 'item4Name', width: 66, title: '物品5', templet: '#titleTpl4' }
                , { field: 'item5Name', width: 66, title: '物品6', templet: '#titleTpl5' }
                , { field: 'item6Name', width: 66, title: '饰品7', templet: '#titleTpl6' }
                , { field: 'gameCreationTime', width: 180, title: 'time',templet: "<div>{{layui.util.toDateString(d.gameCreationTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"}
                , { field: 'gameId', width: 80, title: '对局ID' }
            ]]
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 10 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                , limit: 20
                , id: 'testReload'

            }
            , done: function (data) {
                //回调
//             console.log(data.rangkingList)
                let innerHTML = "";
                data.rangkingList.map(function (currentValue, index, arr) {
//                 console.log(currentValue)
//                 console.log(index)
                    if (currentValue.numId === 1) {
                        innerHTML += "<span class='layui-btn layui-btn-danger layui-btn-radius' >"+currentValue.name+"</span> <span class=\"layui-badge rankingcount\" style='margin-right:5px'>"+currentValue.occurrenceCount+"</span>";
                    }
                    else if(currentValue.numId === 2) {
                        innerHTML += "<span class='layui-btn layui-btn-warm layui-btn-radius'>"+currentValue.name+"</span> <span class=\"layui-badge layui-bg-orange rankingcount\" style='margin-right:5px'>"+currentValue.occurrenceCount+"</span>";
                    }
                    else if (currentValue.numId === 3) {
                        innerHTML += "<span class='layui-btn layui-btn-normal layui-btn-radius'>"+currentValue.name+"</span> <span class=\"layui-badge layui-bg-blue rankingcount\" style='margin-right:5px'>"+currentValue.occurrenceCount+"</span>";
                    }
                    else {
                        innerHTML += "<span>"+currentValue.name+"</span> <span class=\"layui-badge layui-bg-gray rankingcount\" style='margin-right:20px'>"+currentValue.occurrenceCount+"</span>";
                    }

                });
                $('.ranking').html(innerHTML);
            }
        });

        var $ = layui.$, active = {
                             reload: function(){
                                 var championName = $('#championName');
                                 var Win = $('#Win');
                                 var createtimerange = $('#createtimerange');

                                 //执行重载
                                 tableObj.reload({
                                     page: {
                                         curr: 1 //重新从第 1 页开始
                                     }
                                     ,where: {
                                         key: {
                                             championName: championName.val(),
                                             Win: Win.val(),
                                             createtimerange: createtimerange.val()
                                         }
                                     }
                                 }, 'data');
                             }
                         };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#resetSerch').on('click', function () {
            $('#championName').val('');
            $('#Win').val('');

            laydate.render({
                elem: '#createtimerange'
                , range: true
                ,value: get3MonthBefor()+' - '+CurentTime()
            });

            var championName = $('#championName');
            var Win = $('#Win');
            var createtimerange = $('#createtimerange');
            //执行重载
            tableObj.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    key: {
                        championName: championName.val(),
                        Win: Win.val(),
                        createtimerange: createtimerange.val()
                    }
                }
            }, 'data');
        });
    });
</script>

<script type="text/html" id="kills">
    <span style="color:#379736">{{d.kills}}/{{d.deathss}}/{{d.assist}}</span>

</script>

<script type="text/html" id="KDA">
    {{#  if(d.kda >= 3){ }}
    <span style="color:#379736">{{d.kda}}</span>
    {{#  } else { }}
    <span style="color:#ff4500">{{d.kda}}</span>
    {{#  } }}
</script>


<script type="text/html" id="heroId">
    <img src="/img/heros/{{d.heroId}}.png" width="46" height="46" title="{{d.title}}" />
    {{#  if(d.win == "Fail"){ }}
    <span style="color:#ff4500">失败</span>
    {{# } else if(d.win == "Win"){ }}
    <span style="color:#379736">胜利</span>
    {{# } else if(d.win == "LeaverFail"){ }}
    <span style="color:#808080">逃跑</span>
    {{#  } else { }}
    {{d.win}}
    {{#  } }}
</script>

<script type="text/html" id="titleTpl0">
    {{#  if(d.item0 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item0Img}}" width="36" height="36" title="{{d.item0Name}}" />
    {{#  } }}
</script>

<script type="text/html" id="titleTpl1">
    {{#  if(d.item1 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item1Img}}" width="36" height="36" title="{{d.item1Name}}" />
    {{# } }}
</script>

<script type="text/html" id="titleTpl2">
    {{#  if(d.item2 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item2Img}}" width="36" height="36" title="{{d.item2Name}}" />
    {{# } }}
</script>
<script type="text/html" id="titleTpl3">
    {{#  if(d.item3 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item3Img}}" width="36" height="36" title="{{d.item3Name}}" />
    {{#  } }}
</script>

<script type="text/html" id="titleTpl4">
    {{#  if(d.item4 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item4Img}}" width="36" height="36" title="{{d.item4Name}}" />
    {{#  } }}
</script>

<script type="text/html" id="titleTpl5">
    {{#  if(d.item5 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item5Img}}" width="36" height="36" title="{{d.item5Name}}" />
    {{#  } }}
</script>

<script type="text/html" id="titleTpl6">
    {{#  if(d.item6 == "0"){ }}
    <img src="/img/goods/0.png" width="36" height="36" />
    {{#  } else { }}
    <img src="{{d.item6Img}}" width="36" height="36" title="{{d.item6Name}}" />
    {{# } }}
</script>